{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Credits{% endblock %}

{% block content %}

    <h4>HSS Info</h4>
    <div class="card-panel">
        <p class="flow-text">
            Built as a supplement to the TV screen everyone crowds around in the morning.
        </p>
    </div>

    <br>

    <h4>Directors</h4>

    <!-- This h5 is where you put in credit names-->
    <h5 class="center"><br></h5>


    <!-- template -->
    <div class="card">
		<div class="card-content">
			<div class="row">
				<div class="col s3">
					<img src="{% static 'images/directors/questionmark.png' %}" class="circle responsive-img">
				</div>
				<div class="col s9">
					<span class="card-title orange-text">&#175;&#92;&#95;&#40;&#12484;&#41;&#95;&#47;&#175;<br><i><small>Everything</small></i></span>
					<p class="flow-text">The creators keep their identities secret</p>
				</div>
			</div>
		</div>
	</div>
	<!---->


    <br><br>

{% endblock %}
